//**************************************************
//sass宏
//左右居中定位
@mixin left-right {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
//上下居中定位
@mixin top-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
//正中间定位
@mixin zhong {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
//遮罩
@mixin shade {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
    line-height: 0.32rem;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;

}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;

}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;

}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999;
    font-size: 0.24rem;
}

.g-address-add.u-background,.m-address-select.u-background {
    background: #EBEBEC;
}
.m-address-select,.m-address-add{
    position: absolute;
    top: 1rem;
    bottom: 0;
    .m-ubottom{
        position: absolute;
         left: 0;bottom: 1.2rem;
    }
}
.g-address-add,.m-address-select,.m-address-add {
    background: #fff;
    width: 100%;
    height: 100%;
    .u-address-center {
        width: 100%;
        position: absolute;
        top: 1rem;
        bottom: 1.5rem;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        .u-hint-box {
            width: 100%;
            background: #EBEBEC;
            font-size: 0.26rem;
            color: #999;
            padding: 0.15rem 0.34rem;
        }

        .u-createForm {
            width: 100%;
            background: #fff;
            padding: 0 0.34rem 0.15rem;
            .u-navigate-right:last-child{border: none;}
            .u-navigate-right {
                width: 100%;
                height: 0.99rem;
                border-bottom: 1px solid #E3E3E3;
                font-size: 0.3rem;
                line-height: 1rem;
                color: #999;
                position: relative;

                h3 {
                    font-weight: normal;
                }
                
                .J_autocomplete,.u-box-box {
                    width: 90%;
                    height: 100%;
                    float: left;
                    font-size: 0.3rem;
                    color: #333;
                    padding: 0;
                    margin: 0;
                    line-height: 0;
                    border: 0;
                    border-radius: 0;
                    background: #fff;
                    text-align: left;
                }
                .u-box-box {font-size: 0.28rem;}
                .u-clear {
                    width: 10%;
                    height: 100%;
                    background: url("../img/colicon.png") no-repeat;
                    background-size: 0.28rem 0.28rem;
                    background-position: center center;
                    float: right;
                    display: none;
                }
                i {
                    display: block;
                    width: 0.14rem;
                    height: 100%;
                    float: right;
                    margin-right: 0.34rem;
                    background: url("../img/r-icon.png") no-repeat;
                    background-size: 0.14rem 0.25rem;
                    background-position: center center;
                }
            }
            .u-navigate-hint {
                width: 100%;
                padding: 0.34rem 0 0;
                border-bottom: 1px solid #E3E3E3;
                font-size: 0.3rem;
                color: #999;
                h3 {
                    font-weight: normal;
                    font-size: 0.3rem;
                }
                textarea {
                    width: 100%;
                    padding: 0.15rem 0;
                    line-height: 0.3rem;
                    font-size: 0.3rem;
                    color: #333;
                    resize: none;
                }
            }
        }

    }

    .u-address-center .u-order-list li {
        width: 100%;
        padding: 0.15rem 0.34rem;
        background: #fff;
        margin-top: 0.2rem;
        position: relative;
        font-size: 0;
        .u-select-icon.u-block {
            display: block;
        }
        .u-select-icon {
            width: 10%;
            height: 0.3rem;
            margin-top: 0.15rem;
            display: none;
            float: left;
            font-size: 0.28rem;
            background: url("../img/select-icon.png") no-repeat;
            background-size: 0.4rem 0.28rem;
        }
        .u-details {
            width: 90%;
            float: left;
            padding: 0.15rem 0;
            font-size: 0.26rem;

            .u-Vivoppfea {
                font-size: 0.28rem;
                color: #003333;
                img.u-flag-img {
                    width: 0.44rem;
                    height: 0.33rem;
                    vertical-align: middle;
                    margin-left: 0.1rem;

                }
                img.u-express-log {
                    width: 1.56rem;
                    height: 0.36rem;
                    vertical-align: middle;
                    margin-right: 0.1rem;
                    border: 1px solid #EBEBEC;
                }

            }
            .u-order-message {
                width: 100%;
                p {
                    margin-top: 0.2rem;
                    color: #999;
                }
                p.u-dh {
                    color: #333;
                }
                p.u-gj {
                    color: #999;
                }

            }

        }
        .u-clearboth {
            width: 100%;
            height: 0.85rem;
            padding: 0.34rem 0 0;
            font-size: 0.26rem;
            color: #333;
            border-top: 1px solid #E3E3E3;
            position: relative;
            float: left;
            .check-box {
                width: 0.38rem;
                height: 100%;
                float: left;
                margin-right: 0.15rem;
                .u-radio.active {
                    background: url("../img/xz-icon.png") no-repeat;
                    background-size: 0.38rem 0.38rem;
                }
                .u-radio {
                    float: left;
                    width: 100%;
                    height: 100%;
                    background: url("../img/circle-icon.png") no-repeat;
                    background-size: 0.38rem 0.38rem;
                }
            }
            .u-click-xq.u-hide {
                display: none;
            }
            span.u-click-xq {
                line-height: 0.45rem;
                float: left;
                background: #E3E3E3;
                color: #969696;
                padding: 0 0.15rem;
            }
            .u-write {
                width: 0.31rem;
                height: 0.36rem;
                float: left;
                background: url("../img/xie.png") no-repeat;
                background-size: cover;
                position: absolute;
                left: 5rem;
                top: 0.35rem;
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            .u-del {
                width: 0.34rem;
                height: 100%;
                background: url("../img/del.png") no-repeat;
                background-size: 0.34rem 0.36rem;
                float: right;
                margin-right: 0.15rem;
            }

        }
        .u-default.u-block {
            display: block;
        }
        .u-default {
            width: 1.16rem;
            height: 0.44rem;
            background: #D9FCF0;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            border-bottom-left-radius: 0.08rem;
            -webkit-border-bottom-left-radius: 0.08rem;
            font-size: 0.26rem;
            color: #12C286;
            text-align: center;
            line-height: 0.44rem;
        }
    }
}
.u-navigate-right .u-sta-box.active {
    background: #12C186;
}
.u-navigate-right .u-sta-box.active .openTwo {
    left: 0.42rem;
}
.u-navigate-right .u-sta-box {
    width: 1rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    background: #DBDBDB;
    float: right;
    margin-top: 0.2rem;
    position: relative;

    .openTwo {
        width: 0.56rem;
        height: 0.56rem;
        border-radius: 50%;
        background: #fff;
        margin-top: 0.03rem;
        transition: left 0.3s ease-in-out;
        position: absolute;
        left: 0.02rem;
        top: 0;
    }
}

//contact.html  css
.u-createForm h4{font-size: 0.26rem;color: #666; margin-top:0.4rem;}
.u-xl-select:after {
    content: '';
    width: 0.24rem;
    height: 0.13rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0.15rem;
    background: url(../img/xo-icon.jpg) no-repeat;
    background-size: cover;
    background-position: 0 center;
}
.u-navigate-right select{
    width:100%;
    height: 100%;
    float: left;
}

.u-navigate-right .u-form-three{
        padding: 0.2rem 0;
        li:first-child{margin-right: 0.6rem;}
        li{   
    float: left;
    font-size: 0.28rem;
   input.u-radio.active {
            background: url(../img/xz-icon.png) no-repeat;
    background-size: cover;
    background-position: center center;
    }
    input.u-radio{
        width: 0.38rem;
    height: 0.38rem;
    background: url(../img/circle-icon.png) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 0.1rem;
    float: left;
    }
    .u-radio-text{    
    font-size: 0.28rem;
    float: left;
    line-height: 0.6rem;
    margin-left: 0.18rem;}    
    }
}
