//左右居中定位
@mixin left-right {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

//上下居中定位
@mixin top-bottom {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

//正中间定位
@mixin zhong {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

//覆盖定位
@mixin shade {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
}

.g-assembly {
  width: 100%;
  height: 100%;
  .u-assembly-center {
    width: 100%;
    position: absolute;
    top: 1rem;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    .u-banner-box {
      width: 100%;
      height: 8.16rem;
      background: url("../img/home/bn-img.jpg") no-repeat;
      background-size: cover;
      position: relative;
    }
  }
}

.u-banner-box .u-banner-content {
  width: 6rem;
  @include left-right;
  top: 1.28rem;
  border-radius: 0.03rem;
  box-shadow: 0 0.1rem 0.15rem #DBDBDB;
  background: url("../img/home/bn-img1.jpg") no-repeat #fff;
  background-size: 6rem 2.38rem;
  background-position: 0 0;
  padding-top: 1.96rem;
  color: #333;
  text-align: center;
  h3 {
    font-size: 0.44rem;
    margin-bottom: 0.12rem;
    font-weight: bold;
  }
  h4 {
    font-size: 0.34rem;
    font-weight: bold;
  }
  h5 {
    font-size: 0.32rem;
    margin-top: 0.5rem;
  }
  .u-blod {
    width: 0.8rem;
    height: 0.06rem;
    background: #000000;
    margin: 0.3rem auto 0.5rem;
  }
  .u-bn-list {
    width: 100%;
    padding: 0 0 0 0.6rem;
    li {
      font-size: 0.26rem;
      color: #333;
      margin-bottom: 0.1rem;
      text-align: left;
    }
  }
  .u-btn {
    width: 4.12rem;
    line-height: 0.7rem;
    background: #FF994E;
    color: #fff;
    font-size: 0.32rem;
    font-weight: bold;
    margin: 0.24rem auto 0.46rem;
    border-radius: 0.03rem;
  }
}

.u-middle-content {
  margin-bottom: 0.22rem;
  background: #fff;
  overflow: hidden;
  padding-bottom: 0.4rem;
  .u-title-box {
    width: 6.82rem;
    height: 1.58rem;
    margin: 1.6rem auto 0.4rem;
    background: url("../img/home/bn-img2.jpg") no-repeat;
    background-size: cover;
    font-size: 0;
    li {
      width: 50%;
      height: 100%;
      margin: 0.4rem 0 0.15rem;
      display: inline-block;
      color: #fff;
      text-align: center;
      p {
        font-size: 0.4rem;
      }
      span {
        font-size: 0.26rem;
      }
    }
  }
}

.u-latest {
  height: 2.5rem;
  overflow: hidden;
  .smarticker1 {
    width: 100%;
    padding: 0 0.4rem;
    ul {
      height: 100%;
    }
  }
}

.u-latest ul li.u-cell {
  background: url("../img/left-xian.png") no-repeat;
  background-size: 0.18rem 2.34rem;
  background-position: 0 0.08rem;
}

.u-latest ul li dl {
  padding-left: 0.4rem;
  margin-bottom: 0.42rem;

  dd {
    font-size: 0;
    color: #999;
    span:nth-child(1) {
      width: 15%;
    }
    span:nth-child(2) {
      width: 7%;
      margin-right: 0.2rem;
    }
    span:nth-child(3) {
      width: 26%;
    }
    span:nth-child(4) {
      width: 22%;
    }
    span:nth-child(5) {
      width: 25%;
      color: #FF6600;
    }

    span {
      width: 20%;
      display: inline-block;
      font-size: 0.26rem;
      img {
        width: 0.44rem;
        height: 0.3rem;
        vertical-align: text-bottom;
      }
    }

  }

}

.u-middle-content .u-vertical-box {
  padding: 0.4rem 0.34rem 0 0.34rem;
  h3 {
    font-size: 0.3rem;
    color: #333;
    text-align: center;
    margin-bottom: 0.16rem;
  }
  p {
    font-size: 0.26rem;
    color: #999;
    margin-bottom: 0.32rem;
    text-align: center
  }
}

.u-vertical-box .u-vertical-list li:nth-child(2n), .u-vertical-list-two li:nth-child(2n) {
  float: right;
}

.u-vertical-box .u-vertical-list li, .u-vertical-list-two li {
  width: 3.2rem;
  float: left;
  border: 1px solid #E3E3E3;
  border-radius: 0.03rem;
  margin-bottom: 0.33rem;
  .img-box {
    width: 2.94rem;
    height: 2.58rem;
    margin: 0.2rem auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  p {
    text-align: center;
    color: #333;
    font-size: 0.26rem;
    line-height: 0.36rem;
  }
}

.u-vertical-box .u-vertical-list-two li {
  border: none;
  margin-bottom: 0.14rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 0.03rem;
  }
}


.u-middle-content .u-content-list li:last-child {
  padding: 0.3rem 0.34rem 0;
  border-bottom: none;
}

.u-middle-content .u-content-list {
  li {
    padding: 0.3rem 0.34rem;
    border-bottom: 1px solid #E3E3E3;
    position: relative;
    font-size: 0;
    .img-box {
      width: 1.72rem;
      height: 1.72rem;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .u-content-inner {
      width: 74%;
      display: inline-block;
      padding: 0.15rem 0 0.1rem 0.2rem;
      vertical-align: top;
      h3 {
        font-size: 0.32rem;
        margin-bottom: 0.2rem;
        color: #333;
      }
      p {
        font-size: 0.26rem;
        color: #999;
        text-align: left;
        font-weight: normal;
        line-height: 0.28rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
}

//轮播css
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-dots {
  position: absolute;
  bottom: -0.9rem;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  margin: 0px 0.05rem;
  padding: 0.1rem;
  background: #E2E2E4;
  position: relative;
}

.slick-dots li button {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  background: transparent;
  display: block;
  height: 0.2rem;
  width: 0.2rem;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 0.05rem;
  cursor: pointer;
  outline: none;
}

.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  background: #12C286;
}

.white {
  background: #fff;
  color: #fff;
}

.white .u-lb-cont {
  width: 5.4rem;
  border: 1px solid #E3E3E3;
  padding: 0.4rem 0;
  border-radius: 0.03rem;
  background: #fff;
  position: relative;
}

.center .slick-center .u-lb-cont {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center .u-lb-cont {
  opacity: 0.7;
  transition: all 300ms ease;
}

.center {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
  position: relative;
}

.center .slick-center .u-lb-cont {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  color: #e67e22;
  opacity: 1;
  transform: scale(1);
}

.center .u-lb-cont {
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  opacity: 0.7;
  transform: scale(0.95);
  transition: all 300ms ease;
}

.content {
  margin: auto;
  padding: 0.6rem 0.4rem;
  width: auto;
}

.u-lb-cont .u-lb-title {
  width: 3.75rem;
  height: 0.6rem;
  margin: 0 auto;
  background: url(../img/lb-gb.png) no-repeat;
  background-size: cover;
  font-size: 0.28rem;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
}

.u-lb-cont .u-lb-img {
  width: 5.1rem;
  height: 3.15rem;
  margin: 0.8rem auto 0.6rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.u-lb-cont h3.u-jg {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 0.36rem;
  color: #f60;
  i {
    font-size: 0.26rem;
    color: #999;
  }
}

.u-lb-cont h5 {
  font-size: 0.26rem;
  color: #999;
  text-align: center;
}

.u-lb-cont .u-lb-btn {
  width: 3.82rem;
  height: 0.68rem;
  border: 1px solid #656565;
  border-radius: 0.03rem;
  margin: 0.22rem auto 0rem;
  text-align: center;
  font-size: 0.26rem;
  line-height: 0.68rem;
  position: relative;
  color: #656565;
  a {
    @include shade;
  }
}
