//左右居中定位
@mixin left-right {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
//上下居中定位
@mixin top-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
//正中间定位
@mixin zhong {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
//覆盖定位
@mixin shade {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
}
.g-pcbway{
    width: 100%;
    height: 100%;
    .u-pcbway-center{
        width: 100%;
        position: absolute;
        top: 1rem;
    }
}
