//左右居中定位
@mixin left-right {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

//上下居中定位
@mixin top-bottom {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

//正中间定位
@mixin zhong {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

//覆盖定位
@mixin shade {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
}

.g-pcbway {
  width: 100%;
  height: 100%;
  .u-pcbway-center {
    width: 100%;
    position: absolute;
    top: 1rem;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    .u-pcbway-content {
      margin-bottom: 1.22rem;
      li {
        width: 100%;
        border-bottom: 1px solid #E3E3E3;
        position: relative;
        padding-left: 1.24rem;
        font-size: 0.28rem;
        color: #333;
        line-height: 1rem;
        a {
          @include shade;
        }
      }
    }
    h3 {
      margin-top: 0.4rem;
      margin-bottom: 0.24rem;
      font-size: 0.26rem;
      color: #3a3e4a;
      padding-left: 0.25rem;
    }
    .u-pcbway-list {
      padding: 0 0.19rem;
      li:nth-child(1) {
        border-top: 1px solid #E3E3E3;
        background: url(../img/PCBICON1.png) no-repeat #fff;
        background-size: 0.46rem 0.56rem;
        background-position: 0.37rem center;
      }
      li:nth-child(2) {
        background: url(../img/PCBICON2.png) no-repeat #fff;
        background-size: 0.53rem 0.56rem;
        background-position: 0.37rem center;
      }
      li:nth-child(3) {
        background: url(../img/PCBICON3.png) no-repeat #fff;
        background-size: 0.46rem 0.56rem;
        background-position: 0.37rem center;
      }
      li:nth-child(4) {
        background: url(../img/PCBICON4.png) no-repeat #fff;
        background-size: 0.46rem 0.56rem;
        background-position: 0.37rem center;
      }

    }
    .u-pcbway-inner-box {
      padding: 0 0.19rem;

    }
  }
}

.u-pcbway-inner-box .u-pcbway-inner {
  background: #fff;
  padding: 0 0.37rem;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  dl:last-child {
    border: none;
  }
  dl {
    border-bottom: 1px solid #E3E3E3;
    padding: 0.35rem 0;
    dt {
      font-size: 0.28rem;
      color: #333;
      margin-bottom: 0.22rem;
      font-weight: bold;
    }
    dd {

      font-size: 0.26rem;
      color: #999;
      line-height: 0.36rem;
      i {
        font-size: 0.28rem;
        color: #333;
      }
    }
  }
}

//why.html页面css
.u-pcbway-center .u-banner-box {
  width: 100%;
  height: 2.64rem;
  background: url(../img/why_baner.jpg) no-repeat;
  background-size: cover;
}

.u-why-list li:nth-child(1) {
  border-top: 1px solid #E3E3E3;
  background: url(../img/whyicon1.png) no-repeat #fff;
  background-size: 0.54rem 0.51rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(2) {
  background: url(../img/whyicon2.png) no-repeat #fff;
  background-size: 0.56rem 0.56rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(3) {
  background: url(../img/whyicon3.png) no-repeat #fff;
  background-size: 0.56rem 0.56rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(4) {
  background: url(../img/whyicon4.png) no-repeat #fff;
  background-size: 0.57rem 0.57rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(5) {
  background: url(../img/whyicon5.png) no-repeat #fff;
  background-size: 0.44rem 0.56rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(6) {
  background: url(../img/whyicon6.png) no-repeat #fff;
  background-size: 0.57rem 0.57rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(7) {
  background: url(../img/whyicon7.png) no-repeat #fff;
  background-size: 0.51rem 0.55rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(8) {
  background: url(../img/whyicon8.png) no-repeat #fff;
  background-size: 0.58rem 0.56rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(9) {
  background: url(../img/whyicon9.png) no-repeat #fff;
  background-size: 0.58rem 0.56rem;
  background-position: 0.37rem center;
}

.u-why-list li:nth-child(10) {
  background: url(../img/whyicon10.png) no-repeat #fff;
  background-size: 0.61rem 0.56rem;
  background-position: 0.37rem center;
}
